<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>Comparate</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand mb-0 h1"href="/">Inicio</a>
			<a class="navbar-brand mb-0 h1"href="/signup">Registrate</a>
			<a class="navbar-brand mb-0 h1"href="/signin">Inicia Secion</a>
		</nav>
		<br><center><h1>comparate</h1></center>
		<div class="card">
			<div class="card-body">
				<p>Si Alguna vez Te has preguntado que tan atractivo eres esta es tu oportunidad de verlo
				asiendo que personas que tu conoscas te comparen con otras para asi saver que tan atractivo eres</p>
			</div>
		</div>
	</body>
</html>
